h1 {
  color: green;
}

h2 {
  text-decoration: underline;
  color: green;
}

a:link {
  color: yellow;
  text-decoration: none;
  
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

h2:hover {
  background-color: black;
}

div h2 {
  color: pink;
  text-decoration: none;
}

div#container {
  display: grid;
  grid-template-columns: 30% 70%;
}

div#highlight {
  border: 5px green solid;
  padding: 10px;
  margin: 5px;
}

.plaintext {
  font-family: Courier;
}

#first {
  font-size: 90px;
}